*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red:#EF476F;
    --dark: #073B4C;
    --blue: #118AB2;
    --yellow: #FFD166;
    --green: #06D6A0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: var(--blue);
    text-transform: uppercase;
    margin: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#product__name{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--yellow);
    margin-bottom: 10px;
}

.input__number{
    border: solid 1px var(--yellow);
    padding: 3px;
    width: 100px;
    outline: none;
}

/* hide arrows from input number */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.submit__btn{
    border: none;
    outline: none;
    background-color: var(--yellow);
    color: white;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: var(--yellow) 1px solid;
    margin-left: 2rem;
}

.summary i{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--yellow);
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary h2{
    grid-column: 2/4;
    grid-row: 1/2;
    border-bottom: 1px solid var(--yellow);
    font-weight: 300;
    text-transform: uppercase;
}

.summary span{
    grid-column: 2/4;
    grid-row: 2/3;
}

.summary h2,
.summary span{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
}

/* SALES SUMMARY */
.sales__container{
    width: 100%;
    max-width: 700px;
    margin-top: 3rem;
}

.sales__container .sale{
    border-top: var(--red) 1px solid;
    padding: 10px;
    cursor: pointer;
}

.sales__container .sale:last-child{
    border-bottom: var(--red) 1px solid;
}

.sales__container .sale .sale__summary{
    color: var(--dark);
    background-color: transparent;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-bottom: 10px;
}

.sale__summary .sale__summary--info{
    display: flex;
}

.sale__summary i{
    color: var(--blue);
}

.sale__summary .item__sold{
    text-transform: uppercase;
    padding-right: 1rem;
}

.sale__summary .profit{
    color: var(--green);
}

.sales__container .sale .sale__details{
    max-height: 0;
    overflow: hidden;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.sale__details .sale__number p{
    color: var(--blue);
}